<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXMLy1WazgUv2bMfut0pePPpQF3ibQOog</string>
	<key>GCM_SENDER_ID</key>
	<string>320367418701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterk-web3dao.crimedoor</string>
	<key>PROJECT_ID</key>
	<string>crimedoor-official</string>
	<key>STORAGE_BUCKET</key>
	<string>crimedoor-official.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320367418701:ios:100040a95385217919eb04</string>
</dict>
</plist>